// sass-lint:disable-all
@import node_modules/normalize.css/normalize
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700')

*
  box-sizing: border-box
  font-family: font-family()
  font-size: 10px
  font-weight: 400
