// sass-lint:disable-all
@import node_modules/normalize.css/normalize
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700')

*
  background-color: transparent
  border: 0
  box-sizing: border-box
  font-family: font-family()
  font-weight: 400
  text-decoration: none

h1,
h2,
h3,
h4,
p,
span
  margin: 0
  padding: 0

strong, b
  font-weight: 700

body
  background-color: get-color(rumba)
  padding-top: 91px

hr
  border-bottom: 2px solid get-color((color: rock, opacity: .1))
  margin: 0

a
  color: get-color(gafieira)
  font-weight: inherit

  &:hover
    cursor: pointer

.relative
  display: block
  position: relative
  width: 100%

+media($breakpoint-normal)
  body
    padding-top: 80px
