.bundle
.byebug_history
.DS_Store
.env
.env.development
.sass-cache
*.log
*.orig
*.sw[pon]
*.tar.gz
*.tmp
*~
/vendor
bower_components
capybara-email-*.html
coverage
dump.rdb
log
node_modules
public/assets
public/javascripts
screenshot_*.html
screenshot_*.png
tmp
dist/javascripts
dist/views
