<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Card</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
  <style media="screen">
    body {
      background-color: #fbfbfb;
      padding-top: 30px;
    }
    section {
      margin-bottom: 30px;
    }
  </style>
</head>
<body>
  <section>
    <div class="container">
      <div class="column column--half">
        <div class="card card--teacher">
          <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar card__avatar--teacher" alt="Lorem" title="Lorem">
        </div>
      </div>
      <div class="column column--half">
        <div class="card card--teacher-left">
          <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar card__avatar--teacher-left" alt="Lorem" title="Lorem">
        </div>
      </div>
    </div>
  </section>
</body>
</html>
