<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Em breve</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
  <header class="coming-soon__header"></header>

  <section>
    <div class="coming-soon__box">
      <h1 class="coming-soon__title">Em breve uma nova forma de se conectar ao <span>Mundo da Dança.</span></h1>
      <h2 class="coming-soon__subtitle">Cadastre seu email para receber todas as novidades:</h2>

      <form action="" method="">
        <input type="text" class="form__input form__input--fluid" placeholder="Digite seu email">
        <button class="button button--fluid space__top--nano">Cadastrar</button>
      </form>
    </div>
  </section>
</body>
</html>
