<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Grid</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
  <style media="screen">
    section {
      margin-bottom: 30px;
    }
  </style>
</head>
<body>
  <section>
    <div class="container">
      <div class="container__inner">
        <div class="block block--fluid"></div>
        <div class="block grid__full"></div>
      </div>
      
      <div class="block grid__full"></div>
    </div>
  </section>
</body>
</html>
