<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Guide</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
  <style media="screen">
    .navbar { margin-bottom: 40px }
    .button { margin-top: 20px }
    .button:first-child { margin-top: 0 }
    p { margin-top: 15px }
    p:first-child { margin-top: 0 }
    .box-content {
      border: 1px solid #e9e9e9;
      border-radius: 4px;
      max-width: 600px;
      padding: 15px;
    }
  </style>
</head>
<body style="background-color: #f5f5f5">
  <nav class="navbar">
    <div class="container">
      <div class="navbar__contents">
        <div class="navbar__content">
          <img src="../images/icons/logo_dancacom.svg" class="navbar__logo">
        </div>
      </div>
    </div>
  </nav>

  <section>
    <div class="container">
      <div class="grid grid--course">
        <h1 class="page__title">Button</h1>

        <div class="box-content space__top--small">
          <button class="button">Normal button</button>
          <button class="button button--outline">Outlined --outline</button>
          <button class="button button--raised">Raised --raise</button>
          <button class="button button--round">Rounded --round</button>
          <button class="button button--small">Small --small</button>
          <button class="button button--fluid">Fluid --fluid</button>
          <button class="button button--primary">Primary --primary</button>
          <button class="button button--facebook">Facebook --facebook</button>
        </div>
      </div>

      <div class="grid grid--course">
        <h1 class="page__title">Space</h1>

        <div class="box-content space__top--small">
          <p><b>__top:</b> set margin top</p>
          <p><b>--nano:</b> set space value as <b>10px</b></p>
          <p><b>--micro:</b> set space value as <b>15px</b></p>
          <p><b>--small:</b> set space value as <b>20px</b></p>
          <p><b>--medium:</b> set space value as <b>30px</b></p>
          <p><b>--normal:</b> set space value as <b>40px</b></p>
          <p><b>--large:</b> set space value as <b>50px</b></p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
