<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Login</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body data-view="session.new">
  <nav class="navbar navbar--pinned">
    <div class="container">
      <div class="navbar__contents">
        <div class="navbar__content">
          <img src="../images/icons/logo_dancacom.svg" class="navbar__logo">
        </div>

        <div class="navbar__sub-content">
          <ul class="navbar__menu navbar__menu--center">
            <li class="navbar__link navbar__link--active">
              <a href="#">
                <button class="navbar__button navbar__button--active">Home</button>
              </a>
            </li>
            <li class="navbar__link">
              <a href="#">
                <button class="navbar__button">Escolas</button>
              </a>
            </li>
            <li class="navbar__link">
              <a href="#">
                <button class="navbar__button">Professores</button>
              </a>
            </li>
          </ul>
        </div>

        <div class="navbar__options">
          <button class="button navbar__option">
            <img src="../images/icons/search_blue.svg" class="button__icon">
            <span class="button__text">Buscar</span>
          </button>
          <button class="button navbar__option navbar__option--feature">
            <img src="../images/icons/person_blue.svg" class="button__icon">
            <span class="button__text">Entrar</span>
          </button>
        </div>
      </div>
    </div>
  </nav>

  <section class="section space__top--normal">
    <div class="container container--small">
      <form action="" class="grid">
        <img src="../images/icons/logo_dancacom.svg" class="login__logo">

        <label for="email" class="form__label space__top--medium">Email</label>
        <input type="email" name="email" placeholder="Digite um email válido" class="form__input form__input--fluid space__top--nano">

        <label for="password" class="form__label space__top--small">Senha</label>
        <input type="password" name="password" placeholder="**********" class="form__input form__input--fluid space__top--nano">

        <input type="checkbox" name="remember" id="remember" class="form__checkbox">
        <label for="remember" class="form__label form__label--for-checkbox space__top--small">Manter Conectado</label>

        <button class="button button--fluid button--primary space__top--medium">Entrar</button>

        <a href="#" class="form__link space__top--medium">Esqueceu a Senha?</a>

        <hr class="space__top--medium">

        <button class="button button--fluid button--facebook space__top--medium">Entrar com Facebook</button>
      </form>
    </div>
  </section>

  <footer class="footer space__top--large"></footer>
</body>
</html>
