<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Login</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
  <style media="screen">
    .demo-navbar {
      background-color: #fff;
      height: 80px;
      width: 100%;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body data-view="session.new">
  <div class="demo-navbar"></div>

  <section class="section space__top--normal">
    <div class="container container--small">
      <form action="" class="grid">
        <img src="../images/icons/logo_dancacom.svg" class="login__logo">

        <label for="email" class="form__label space__top--medium">Email</label>
        <input type="email" name="email" placeholder="Digite um email válido" class="form__input form__input--fluid space__top--nano">

        <label for="password" class="form__label space__top--small">Senha</label>
        <input type="password" name="password" placeholder="**********" class="form__input form__input--fluid space__top--nano">

        <input type="checkbox" name="remember" id="remember" class="form__checkbox">
        <label for="remember" class="form__label form__label--for-checkbox space__top--small">Manter Conectado</label>

        <button class="button button--fluid button--primary space__top--medium">Entrar</button>

        <a href="#" class="form__link space__top--medium">Esqueceu a Senha?</a>

        <hr class="space__top--medium">

        <button class="button button--fluid button--facebook space__top--medium">Entrar com Facebook</button>
      </form>
    </div>
  </section>

  <footer class="footer space__top--large"></footer>
</body>
</html>
