<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Menu</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
  <style media="screen">
    body {
      overflow: hidden;
    }
  </style>
</head>
<body data-view="search.index">
  <nav class="navbar">
    <div class="container">
      <div class="navbar__contents">
        <div class="navbar__content">
          <!-- <img src="../images/icons/logo_dancacom.svg" class="navbar__logo"> -->
        </div>

        <div class="navbar__sub-content">
          <ul class="navbar__menu navbar__menu--center">
            <li class="navbar__link navbar__link--active">
              <a href="#">
                <button class="navbar__button navbar__button--active">Home</button>
              </a>
            </li>
            <li class="navbar__link">
              <a href="#">
                <button class="navbar__button">Escolas</button>
              </a>
            </li>
            <li class="navbar__link">
              <a href="#">
                <button class="navbar__button">Professores</button>
              </a>
            </li>
          </ul>
        </div>

        <div class="navbar__options">
          <button class="button navbar__option">
            <img src="../images/icons/search_blue.svg" class="button__icon">
            <span class="button__text">Buscar</span>
          </button>
          <div class="menu__wrapper" id="menu-dropdown">
            <button class="button navbar__option navbar__option--feature">
              <img src="../images/icons/person_blue.svg" class="button__icon">
              <span class="button__text">Entrar</span>
            </button>

            <div class="menu__dropdown">
              <div class="menu__header">
                <img src="http://lorempicsum.com/futurama/50/50/1" class="menu__avatar">

                <div class="menu__info">
                  <span class="menu__user">Rubens Zark</span>
                  <a href="#" class="menu__logout space__top--micro">Sair</a>
                </div>
              </div>


              <div class="menu__cluster">
                <div class="menu__icon"></div>
                <div class="menu__body">
                  <span class="menu__title">Principal</span>
                  <ul class="menu__options">
                    <li class="menu__option">
                      <a href="#" class="menu__link">Minha conta</a>
                    </li>
                    <li class="menu__option">
                      <a href="#" class="menu__link">Meus perfis</a>
                    </li>
                    <li class="menu__option">
                      <a href="#" class="menu__link">Dashboard</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="menu__cluster">
                <div class="menu__icon"></div>
                <div class="menu__body">
                  <span class="menu__title">Listagem</span>
                  <ul class="menu__options">
                    <li class="menu__option">
                      <a href="#" class="menu__link">Professores</a>
                    </li>
                    <li class="menu__option">
                      <a href="#" class="menu__link">Escolas</a>
                    </li>
                    <li class="menu__option">
                      <a href="#" class="menu__link">Unidades</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="menu__cluster">
                  <div class="menu__icon"></div>
                  <div class="menu__body">
                    <span class="menu__title">Cadastro</span>
                    <ul class="menu__options">
                      <li class="menu__option">
                        <a href="#" class="menu__link">Professores</a>
                      </li>
                      <li class="menu__option">
                        <a href="#" class="menu__link">Escolas</a>
                      </li>
                      <li class="menu__option">
                        <a href="#" class="menu__link">Unidades</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <footer class="footer space__top--large"></footer>

  <section class="modal modal--scroll modal--mobile">
    <div class="modal__close">
      <!--  -->
    </div>
    <div class="menu">
      <div class="menu__header">
        <img src="http://lorempicsum.com/futurama/50/50/1" class="menu__avatar">

        <div class="menu__info">
          <span class="menu__user">Rubens Zark</span>
          <a href="#" class="menu__logout space__top--micro">Sair</a>
        </div>
      </div>


      <div class="menu__cluster">
        <div class="menu__icon"></div>
        <div class="menu__body">
          <span class="menu__title">Principal</span>
          <ul class="menu__options">
            <li class="menu__option">
              <a href="#" class="menu__link">Minha conta</a>
            </li>
            <li class="menu__option">
              <a href="#" class="menu__link">Meus perfis</a>
            </li>
            <li class="menu__option">
              <a href="#" class="menu__link">Dashboard</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="menu__cluster">
        <div class="menu__icon"></div>
        <div class="menu__body">
          <span class="menu__title">Listagem</span>
          <ul class="menu__options">
            <li class="menu__option">
              <a href="#" class="menu__link">Professores</a>
            </li>
            <li class="menu__option">
              <a href="#" class="menu__link">Escolas</a>
            </li>
            <li class="menu__option">
              <a href="#" class="menu__link">Unidades</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="menu__cluster">
          <div class="menu__icon"></div>
          <div class="menu__body">
            <span class="menu__title">Cadastro</span>
            <ul class="menu__options">
              <li class="menu__option">
                <a href="#" class="menu__link">Professores</a>
              </li>
              <li class="menu__option">
                <a href="#" class="menu__link">Escolas</a>
              </li>
              <li class="menu__option">
                <a href="#" class="menu__link">Unidades</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </section>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="../javascripts/components/menu.js"></script>
</body>
</html>
