<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Menu</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body data-module="searches.index">
  <nav class="navbar">
    <div class="container">
      <div class="navbar__contents">
        <div class="navbar__content">
          <!-- <img src="../images/icons/logo_dancacom.svg" class="navbar__logo"> -->
        </div>

        <div class="navbar__sub-content">
          <ul class="navbar__menu navbar__menu--center">
            <li class="navbar__link navbar__link--active">
              <a href="#">
                <button class="navbar__button navbar__button--active">Home</button>
              </a>
            </li>
            <li class="navbar__link">
              <a href="#">
                <button class="navbar__button">Escolas</button>
              </a>
            </li>
            <li class="navbar__link">
              <a href="#">
                <button class="navbar__button">Professores</button>
              </a>
            </li>
          </ul>
        </div>

        <div class="navbar__options">
          <button class="button navbar__option">
            <img src="../images/icons/search_blue.svg" class="button__icon">
            <span class="button__text">Buscar</span>
          </button>
          <div class="menu" id="menu-dropdown">
            <button class="button navbar__option navbar__option--feature" id="open">
              <img src="../images/icons/person_blue.svg" class="button__icon">
              <span class="button__text">Entrar</span>
            </button>

            <div class="menu__dropdown" id="body">
              <div class="menu__header">
                <img src="http://lorempicsum.com/futurama/50/50/1" class="menu__avatar">

                <div class="menu__info">
                  <span class="menu__user">Rubens Zark</span>
                  <a href="#" class="menu__logout space__top--micro">Sair</a>
                </div>
              </div>

              <div class="menu__overflow">
                <div class="menu__cluster">
                  <div class="menu__icon">
                    <img src="../images/icons/menu-main.svg">
                  </div>

                  <div class="menu__body">
                    <span class="menu__title">Principal</span>
                    <ul class="menu__options">
                      <li class="menu__option">
                        <a href="#" class="menu__link">Minha conta</a>
                      </li>
                      <li class="menu__option">
                        <a href="#" class="menu__link">Meus perfis</a>
                      </li>
                      <li class="menu__option">
                        <a href="#" class="menu__link">Dashboard</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="menu__cluster">
                  <div class="menu__icon">
                    <img src="../images/icons/menu-list.svg">
                  </div>

                  <div class="menu__body">
                    <span class="menu__title">Listagem</span>
                    <ul class="menu__options">
                      <li class="menu__option">
                        <a href="#" class="menu__link">Professores</a>
                      </li>
                      <li class="menu__option">
                        <a href="#" class="menu__link">Escolas</a>
                      </li>
                      <li class="menu__option">
                        <a href="#" class="menu__link">Unidades</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="menu__cluster">
                  <div class="menu__icon">
                    <img src="../images/icons/menu-register.svg">
                  </div>

                  <div class="menu__body">
                    <span class="menu__title">Cadastro</span>
                    <ul class="menu__options">
                      <li class="menu__option">
                        <a href="#" class="menu__link">Professores</a>
                      </li>
                      <li class="menu__option">
                        <a href="#" class="menu__link">Escolas</a>
                      </li>
                      <li class="menu__option">
                        <a href="#" class="menu__link">Unidades</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section class="section space__top--normal">
    <div class="container">
      <div class="grid grid--search-filter">
        <div class="card">
          <div class="search-filter__body">
            <div class="grid grid--collapse">
              <h2 class="search-filter__title grid">Digite o que procura</h2>

              <input type="text" class="form__input space__top--small grid" placeholder="Digite aqui">

              <h2 class="search-filter__title space__top--large grid">Filtrar Resultados</h2>

              <label for="category" class="form__label space__top--small grid">Categoria</label>
              <input type="text" name="category" class="form__input form__input--flush space__top--nano grid" placeholder="ex. Samba">

              <label for="type" class="form__label space__top--small grid">Tipo</label>
              <select name="type" id="type" class="form__select form__input--flush grid space__top--nano">
                <option value="UF" selected disabled>Escola, Unidades ou Professores</option>
                <option value="SP">Escola</option>
                <option value="RJ">Professor</option>
                <option value="MG">Unidade</option>
              </select>

              <div class="grid--uf">
                <label for="uf" class="form__label space__top--small">Estado</label>
                <select name="uf" id="uf" class="form__select form__input--fluid form__input--flush space__top--nano">
                  <option value="UF" selected disabled>UF</option>
                  <option value="SP">SP</option>
                  <option value="RJ">RJ</option>
                  <option value="MG">MG</option>
                </select>
              </div>

              <div class="grid--city">
                <label for="city" class="form__label space__top--small">Cidade</label>
                <input type="text" class="form__input form__input--fluid form__input--flush space__top--nano" placeholder="Cidade">
              </div>

              <label for="schools" class="form__label space__top--small grid">Bairros</label>
              <input type="text" class="form__input form__input--flush space__top--nano grid" placeholder="Escolas">

              <button class="button button--primary button--medium space__top--medium grid">
                Buscar
              </button>
            </div>

          </div>
        </div>
      </div>

      <div class="grid grid--search-results">
        <div class="search-results__header">
          <button class="button button--round button--primary button--small search-results__button">
            Filtrar
          </button>
          <h2 class="search-results__for">Resultados da busca para</h2>
          <h1 class="search-results__query space__top--nano">
            Samba
            <small>Samba, Escolas e Professores, em São Paulo - SP</small>
          </h1>
        </div>

        <div class="space__top--medium">
          <div class="search-results__result space__top--small">
            <div class="search-results__avatar"></div>
            <div class="search-results__content">
              <h3 class="search-results__title">
                <a href="#">Cia de Dança</a>
              </h3>

              <p class="search-results__description space__top--nano">
                Escola de dança para estilos clássicos como tango, jazz, samba… Os mestres dessa arte vão transformar você.
              </p>
            </div>
          </div>

          <div class="search-results__result space__top--small">
            <div class="search-results__avatar"></div>
            <div class="search-results__content">
              <h3 class="search-results__title">
                <a href="#">Cia de Dança</a>
              </h3>
              <h4 class="search-results__subtitle">
                Vila Mariana
              </h4>

              <p class="search-results__description space__top--nano">
                Escola de dança para estilos clássicos como tango, jazz, samba… Os mestres dessa arte vão transformar você.
              </p>
            </div>
          </div>

          <div class="search-results__result space__top--small">
            <div class="search-results__avatar search-results__avatar--round"></div>
            <div class="search-results__content">
              <h3 class="search-results__title">
                <a href="#">Rubens Zark</a>
              </h3>

              <p class="search-results__description space__top--nano">
                Especializado em danças de salão, mas com a suavidade do ritmo contemporâneo.
              </p>
            </div>
          </div>

          <div class="search-results__result space__top--small">
            <div class="search-results__avatar"></div>
            <div class="search-results__content">
              <h3 class="search-results__title">
                <a href="#">Cia de Dança</a>
              </h3>

              <p class="search-results__description space__top--nano">
                Escola de dança para estilos clássicos como tango, jazz, samba… Os mestres dessa arte vão transformar você.
              </p>

              <p class="search-results__infos space__top--nano">
                Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP. CEP: 00000-00
              </p>
            </div>
          </div>

          <div class="search-results__result space__top--small">
            <div class="search-results__avatar"></div>
            <div class="search-results__content">
              <h3 class="search-results__title">
                <a href="#">Cia de Dança</a>
              </h3>
              <h4 class="search-results__subtitle">
                Vila Mariana
              </h4>

              <p class="search-results__description space__top--nano">
                Escola de dança para estilos clássicos como tango, jazz, samba… Os mestres dessa arte vão transformar você.
              </p>

              <p class="search-results__infos space__top--nano">
                Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP. CEP: 00000-00
              </p>
            </div>
          </div>

          <div class="space__top--large">
            <ul class="pagination">
              <li class="pagination__item pagination__item--active">
                <a href="" class="pagination__link">1</a>
              </li>
              <li class="pagination__item">
                <a href="" class="pagination__link">2</a>
              </li>
              <li class="pagination__item">
                <a href="" class="pagination__link">3</a>
              </li>
              <li class="pagination__item">
                <a href="" class="pagination__link">4</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer space__top--large">
    <div class="container">
      <div class="grid footer__content">
        <div class="footer__summary">
          <img src="../images/icons/logo_dancacom.svg" class="footer__logo">

          <ul class="footer__links">
            <li class="footer__link">
              <a href="#">Escolas</a>
            </li>
            <li class="footer__link">
              <a href="#">Professores</a>
            </li>
            <li class="footer__link">
              <a href="#">Termos de Uso</a>
            </li>
          </ul>
        </div>

        <ul class="footer__socials">
          <a href="#" class="footer__social">
            <img src="../images/icons/facebook.svg" alt="Facebook">
          </a>
          <a href="#" class="footer__social">
            <img src="../images/icons/twitter.svg" alt="Twitter">
          </a>
          <a href="#" class="footer__social">
            <img src="../images/icons/instagram.svg" alt="Instagram">
          </a>
          <a href="#" class="footer__social">
            <img src="../images/icons/google-plus.svg" alt="Google Plus">
          </a>
        </ul>
      </div>
    </div>

    <div class="footer__info">
      Texto padrão legal, sobre direitos de uso ou desenvolvimento.
    </div>
  </footer>

  <section class="modal modal--scroll modal--mobile">
    <div class="modal__close">
      <img src="../images/icons/close-modal.svg" class="navbar__logo">
    </div>
    <div class="menu menu--fluid">
      <div class="menu__header">
        <img src="http://lorempicsum.com/futurama/50/50/1" class="menu__avatar">

        <div class="menu__info">
          <span class="menu__user">Rubens Zark</span>
          <a href="#" class="menu__logout space__top--micro">Sair</a>
        </div>
      </div>


      <div class="menu__cluster">
        <div class="menu__icon">
          <img src="../images/icon/menu-main.svg">
        </div>

        <div class="menu__body">
          <span class="menu__title">Principal</span>
          <ul class="menu__options">
            <li class="menu__option">
              <a href="#" class="menu__link">Minha conta</a>
            </li>
            <li class="menu__option">
              <a href="#" class="menu__link">Meus perfis</a>
            </li>
            <li class="menu__option">
              <a href="#" class="menu__link">Dashboard</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="menu__cluster">
        <div class="menu__icon">
          <img src="../images/icon/menu-list.svg">
        </div>

        <div class="menu__body">
          <span class="menu__title">Listagem</span>
          <ul class="menu__options">
            <li class="menu__option">
              <a href="#" class="menu__link">Professores</a>
            </li>
            <li class="menu__option">
              <a href="#" class="menu__link">Escolas</a>
            </li>
            <li class="menu__option">
              <a href="#" class="menu__link">Unidades</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="menu__cluster">
          <div class="menu__icon">
            <img src="../images/icon/menu-register.svg">
          </div>

          <div class="menu__body">
            <span class="menu__title">Cadastro</span>
            <ul class="menu__options">
              <li class="menu__option">
                <a href="#" class="menu__link">Professores</a>
              </li>
              <li class="menu__option">
                <a href="#" class="menu__link">Escolas</a>
              </li>
              <li class="menu__option">
                <a href="#" class="menu__link">Unidades</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </section>

  <section class="overlay"></section>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="../javascripts/components/menu.js"></script>
</body>
</html>
