<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Em breve</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body style="background-color: #f5f5f5">
  <nav class="navbar">
    <div class="container">
      <div class="navbar__content">
        <ul class="navbar__menu">
          <li class="navbar__link navbar__link--active">
            <a href="#">
              <button class="menu-button menu-button--active">Home</button>
            </a>
          </li>
          <li class="navbar__link">
            <a href="#">
              <button class="menu-button">Escolas</button>
            </a>
          </li>
          <li class="navbar__link">
            <a href="#">
              <button class="menu-button">Professores</button>
            </a>
          </li>
        </ul>
      </div>

      <div class="navbar__content navbar__content--right">
        <ul class="navbar__menu">
          <li class="navbar__link">
            <button class="button button--white button--no-shadow">Buscar</button>
          </li>
          <li class="navbar__link">
            <button class="button button--no-shadow">Entrar</button>
          </li>
      </div>
    </div>
  </nav>
</body>
</html>
