<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Navigator Bar</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body style="background-color: #f5f5f5">
  <nav class="navbar">
    <div class="container">
      <div class="navbar__contents">
        <div class="navbar__content">
          <img src="../images/icons/logo_dancacom.svg" class="navbar__logo">
        </div>

        <div class="navbar__sub-content">
          <ul class="navbar__menu navbar__menu--center">
            <li class="navbar__link navbar__link--active">
              <a href="#">
                <button class="navbar__button navbar__button--active">Home</button>
              </a>
            </li>
            <li class="navbar__link">
              <a href="#">
                <button class="navbar__button">Escolas</button>
              </a>
            </li>
            <li class="navbar__link">
              <a href="#">
                <button class="navbar__button">Professores</button>
              </a>
            </li>
          </ul>
        </div>

        <div class="navbar__options">
          <button class="button navbar__option">
            <img src="../images/icons/search_blue.svg" class="button__icon">
            <span class="button__text">Buscar</span>
          </button>
          <button class="button navbar__option navbar__option--feature">
            <img src="../images/icons/person_blue.svg" class="button__icon">
            <span class="button__text">Entrar</span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</body>
</html>
