<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Planos</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body data-module="subscriptions.plans">
  <nav class="navbar">
    <div class="container">
      <div class="navbar__contents">
        <div class="navbar__content">
          <img src="../images/icons/logo_dancacom.svg" class="navbar__logo">

          <div class="searchbar">
            <img src="../images/icons/search_blue.svg" class="searchbar__icon">
            <span class="searchbar__button">Buscar</span>
            <input type="text" class="form__input form__input--clean searchbar__input" placeholder="Digite o que procura">
            <img src="../images/icons/close-modal.svg" class="searchbar__close">
          </div>

          <button class="button navbar__user">
            <img src="../images/icons/person_blue.svg">
            <span>Entrar</span>
          </button>
        </div>

        <div class="navbar__sub-content">
          <ul class="navbar__menu navbar__menu--center">
            <li class="navbar__link navbar__link--active">
              <a href="#">
                <button class="navbar__button navbar__button--active">Home</button>
              </a>
            </li>
            <li class="navbar__link">
              <a href="#">
                <button class="navbar__button">Escolas</button>
              </a>
            </li>
            <li class="navbar__link">
              <a href="#">
                <button class="navbar__button">Professores</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <header class="page-header space__top--large">
    <div class="container">
      <div class="page-header__content grid">
        <h1 class="page-header__title">
          Planos
        </h1>
      </div>
    </div>
  </header>

  <section class="section space__top--medium">
    <div class="container">
      <div class="section__content">
        <div class="switcher switcher--center">
          <span class="switcher__option">Trimestral</span>
          <span class="switcher__option switcher__option--active">Semestral</span>
          <span class="switcher__option">Anual</span>
        </div>
      </div>

      <div class="space__top--large">
        <div class="grid grid--plan card">
          <div class="card__body">
            <h2 class="plan__title">Nome do plano</h2>
            <h3 class="plan__price space__top--nano">equivale a <span>R$99</span> / mês</h3>

            <ul class="plan__features space__top--medium">
              <li class="plan__feature"><img src="../images/icons/check_blue.svg" class="plan__check">Nome do incluso neste pacote</li>
              <li class="plan__feature"><img src="../images/icons/check_blue.svg" class="plan__check">Nome do incluso neste pacote</li>
              <li class="plan__feature"><img src="../images/icons/check_blue.svg" class="plan__check">Nome do incluso neste pacote</li>
              <li class="plan__feature"><img src="../images/icons/check_blue.svg" class="plan__check">Nome do incluso neste pacote</li>
              <li class="plan__feature plan__feature--inactive">Nome do incluso neste pacote</li>
            </ul>
          </div>
        </div>

        <div class="grid grid--plan card">
          <div class="card__body">
            <h2 class="plan__title">Nome do plano</h2>
            <h3 class="plan__price space__top--nano">equivale a <span>R$99</span> / mês</h3>

            <ul class="plan__features space__top--medium">
              <li class="plan__feature"><img src="../images/icons/check_blue.svg" class="plan__check">Nome do incluso neste pacote</li>
              <li class="plan__feature"><img src="../images/icons/check_blue.svg" class="plan__check">Nome do incluso neste pacote</li>
              <li class="plan__feature"><img src="../images/icons/check_blue.svg" class="plan__check">Nome do incluso neste pacote</li>
              <li class="plan__feature"><img src="../images/icons/check_blue.svg" class="plan__check">Nome do incluso neste pacote</li>
              <li class="plan__feature plan__feature--inactive">Nome do incluso neste pacote</li>
            </ul>
          </div>
        </div>

        <div class="grid grid--plan card">
          <div class="card__body">
            <h2 class="plan__title">Nome do plano</h2>
            <h3 class="plan__price space__top--nano">equivale a <span>R$99</span> / mês</h3>

            <ul class="plan__features space__top--medium">
              <li class="plan__feature"><img src="../images/icons/check_blue.svg" class="plan__check">Nome do incluso neste pacote</li>
              <li class="plan__feature"><img src="../images/icons/check_blue.svg" class="plan__check">Nome do incluso neste pacote</li>
              <li class="plan__feature"><img src="../images/icons/check_blue.svg" class="plan__check">Nome do incluso neste pacote</li>
              <li class="plan__feature"><img src="../images/icons/check_blue.svg" class="plan__check">Nome do incluso neste pacote</li>
              <li class="plan__feature plan__feature--inactive">Nome do incluso neste pacote</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="plan__about space__top--large">
        <h2 class="plan__about-title">Sobre os Planos</h2>

        <p class="plan__about-content">Consectetur adipiscing elit. Curabitur in lectus velit. Integer pellentesque ac ipsum ut convallis. Aliquam mattis, felis et efficitur viverra, ante eros porta felis, mattis congue risus felis ut ligula.</p>
      </div>
    </div>
  </section>

  <footer class="footer space__top--large"></footer>
</body>
</html>
