<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Escolas</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body data-view="schools.index">
  <nav class="navbar">
    <div class="container">
      <div class="navbar__contents">
        <div class="navbar__content">
          <img src="../images/icons/logo_dancacom.svg" class="navbar__logo">

          <div class="searchbar searchbar--active">
            <img src="../images/icons/search_blue.svg" class="searchbar__icon">
            <span class="searchbar__button">Buscar</span>
            <input type="text" class="form__input form__input--clean searchbar__input" placeholder="Digite o que procura">
            <img src="../images/icons/close-modal.svg" class="searchbar__close">
          </div>

          <button class="button navbar__user">
            <img src="../images/icons/person_blue.svg">
            <span>Entrar</span>
          </button>
        </div>

        <div class="navbar__sub-content">
          <ul class="navbar__menu navbar__menu--center">
            <li class="navbar__link navbar__link--active">
              <a href="#">
                <button class="navbar__button navbar__button--active">Home</button>
              </a>
            </li>
            <li class="navbar__link">
              <a href="#">
                <button class="navbar__button">Escolas</button>
              </a>
            </li>
            <li class="navbar__link">
              <a href="#">
                <button class="navbar__button">Professores</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <header class="page-header space__top--large">
    <div class="container">
      <div class="page-header__content grid">
        <h1 class="page-header__title">
          Escolas
        </h1>
        <div class="page-header__call">
          <button class="button button--small button--outline button--round button--raise">
            Cadastrar minha escola
          </button>
        </div>
      </div>
    </div>
  </header>

  <section class="section space__top--nano">
    <div class="container">
      <div class="section__content">
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>

              <div class="card__content space__top--micro">
                <div class="card__rating">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                </div>

                <div class="card__likes">
                  <img src="../images/icons/favorite_border_black.svg">
                  <span>64</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>

              <div class="card__content space__top--micro">
                <div class="card__rating">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                </div>

                <div class="card__likes">
                  <img src="../images/icons/favorite_border_black.svg">
                  <span>64</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>

              <div class="card__content space__top--micro">
                <div class="card__rating">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                </div>

                <div class="card__likes">
                  <img src="../images/icons/favorite_border_black.svg">
                  <span>64</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>

              <div class="card__content space__top--micro">
                <div class="card__rating">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                </div>

                <div class="card__likes">
                  <img src="../images/icons/favorite_border_black.svg">
                  <span>64</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>

              <div class="card__content space__top--micro">
                <div class="card__rating">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                </div>

                <div class="card__likes">
                  <img src="../images/icons/favorite_border_black.svg">
                  <span>64</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>

              <div class="card__content space__top--micro">
                <div class="card__rating">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                </div>

                <div class="card__likes">
                  <img src="../images/icons/favorite_border_black.svg">
                  <span>64</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>

              <div class="card__content space__top--micro">
                <div class="card__rating">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                </div>

                <div class="card__likes">
                  <img src="../images/icons/favorite_border_black.svg">
                  <span>64</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>

              <div class="card__content space__top--micro">
                <div class="card__rating">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                </div>

                <div class="card__likes">
                  <img src="../images/icons/favorite_border_black.svg">
                  <span>64</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>

              <div class="card__content space__top--micro">
                <div class="card__rating">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                </div>

                <div class="card__likes">
                  <img src="../images/icons/favorite_border_black.svg">
                  <span>64</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>

              <div class="card__content space__top--micro">
                <div class="card__rating">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                </div>

                <div class="card__likes">
                  <img src="../images/icons/favorite_border_black.svg">
                  <span>64</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>

              <div class="card__content space__top--micro">
                <div class="card__rating">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                </div>

                <div class="card__likes">
                  <img src="../images/icons/favorite_border_black.svg">
                  <span>64</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>

              <div class="card__content space__top--micro">
                <div class="card__rating">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                  <img src="../images/icons/rating_full_activated.svg">
                </div>

                <div class="card__likes">
                  <img src="../images/icons/favorite_border_black.svg">
                  <span>64</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section space__top--medium">
      <div class="gridy"><input type="hidden" name="sortOrder" value="asc"><input type="hidden" name="sortName" value="name"><input type="hidden" name="page" value="1"><div class="gridy__content"><div class="gridy__head"><div><a class="gridy__sorter gridy__sorter--sorted" href="javascript:void(0);" id="sort-by-name" name="name" rel="asc">Nome</a><div class="i-arrow-up gridy__sorter__icon gridy__sorter__icon--asc"></div></div></div><div class="gridy__body"><div class="grid grid--school space__top--normal">
          <a href="/escolas/jaime-aroxa-f2f3d66a7978c2077c56d962072c4cdd6cd95d44/unidades/jaime-rio">
            <div class="card card--school">
              <div class="card__cover">
                <img src="https://res.cloudinary.com/danca/image/upload/s---B7SjS-A--/c_fill/v1466366824/default.png" alt="Jaime Rio">
              </div>

              <img src="https://res.cloudinary.com/danca/image/upload/s---B7SjS-A--/c_fill/v1466366824/default.png" alt="Jaime Rio" class="card__avatar card__avatar--school">

              <div class="card__body card__body--school">
                <h3 class="card__title">Jaime Rio</h3>

                <p class="card__description space__top--nano"></p>

                  <div class="card__content space__top--nano">
                    <img src="/assets/icons/location_on_black-dc3ec73de52b49b568ad39fc2d6def539fade173725d8238f32f1443afbc026b.svg" alt="Localização" class="card__icon">

                    <p class="card__additional-info">R. Arnaldo Quintela, 22, Botafogo, Rio de Janeiro - RJ, 22280-070</p>
                  </div>
              </div>
            </div>
          </a>
        </div></div></div><div class="gridy__footer"><div class="gridy__message"></div><button class="gridy__refresh i-refresh" title="Recarregar"></button></div><div class="gridy__pagination" disabled="disabled"><a href="javascript:void(0);" rel="01" title="Página 01" class="gridy__pagination__button gridy__pagination__button--active">01</a><a href="javascript:void(0);" rel="02" title="Página 02" class="gridy__pagination__button">02</a><a href="javascript:void(0);" rel="03" title="Página 03" class="gridy__pagination__button">03</a><a href="javascript:void(0);" rel="04" title="Página 04" class="gridy__pagination__button">04</a></div></div>
  </section>

  <footer class="footer space__top--large"></footer>
</body>
</html>
