<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Escolas</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
  <style media="screen">
    .demo-navbar {
      background-color: #fff;
      height: 80px;
      width: 100%;
    }
  </style>
</head>
<body data-view="schools.index">
  <div class="demo-navbar"></div>

  <header class="page-header space__top--large">
    <div class="container">
      <div class="page-header__content grid">
        <h1 class="page-header__title">
          Escolas
        </h1>
        <div class="page-header__call">
          <button class="button button--rounded">
            Cadastrar minha escola
          </button>
        </div>
      </div>
    </div>
  </header>

  <section class="section space__top--nano">
    <div class="container">
      <div class="section__content">
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid--teacher space__top--normal">
          <div class="card card--school">
            <div class="card__cover">
              <img src="http://lorempicsum.com/futurama/300/300/4" alt="Cover Image">
            </div>

            <img src="http://lorempicsum.com/simpsons/80/80/8" class="card__avatar card__avatar--school" alt="Lorem" title="Lorem">

            <div class="card__body card__body--school">
              <h3 class="card__title">Rubens Zark</h3>

              <p class="card__description space__top--nano">
                Especializado em danças de salão, mas com o suave ritmo contemporâneo.
              </p>

              <div class="card__content space__top--nano">
                <img src="../images/icons/location_on_black.svg" class="card__icon">
                <p class="card__additional-info">Avenida dos Pinheiros Verdes, 203 - Pinheiros, São Paulo - SP</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section space__top--medium">
    <ul class="pagination">
      <li class="pagination__item pagination__item--active">
        <a href="" class="pagination__link">1</a>
      </li>
      <li class="pagination__item">
        <a href="" class="pagination__link">2</a>
      </li>
      <li class="pagination__item">
        <a href="" class="pagination__link">3</a>
      </li>
      <li class="pagination__item">
        <a href="" class="pagination__link">4</a>
      </li>
    </ul>
  </section>

  <footer class="footer space__top--large"></footer>
</body>
</html>
