<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dança.com - Professores</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
  <style media="screen">
    .demo-navbar {
      background-color: #fff;
      height: 80px;
      width: 100%;
    }
  </style>
</head>
<body>
  <div class="demo-navbar"></div>

  <section class="page-header">
    <div class="container">
      <div class="container__inner">
        <div class="page-header__content">
          <h1 class="page-header__title">
            Professores
          </h1>
        </div>
        <div class="page-header__call">
          <button class="button button--rounded">
            Quero me cadastrar
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="container__inner">
        <div class="section__content">
          <div class="card-item">
            <div class="card card--teacher">
              <img src="http://lorempicsum.com/futurama/90/90/6" class="card__avatar card__avatar--teacher" alt="Lorem" title="Lorem">

              <div class="card__body card__body--teacher">
                <h3 class="card__title">Rubens Zark</h3>

                <p class="card__description">
                  Especializado em danças de salão, mas com o suave ritmo contemporâneo.
                </p>

                <h4 class="card__sub-title">Especialidades:</h4>
                <p class="card__sub-description">Samba - Jazz - Forró - Zumba</p>
              </div>
            </div>
          </div>
          <div class="card-item">
            <div class="card card--teacher">
              <img src="http://lorempicsum.com/futurama/90/90/6" class="card__avatar card__avatar--teacher" alt="Lorem" title="Lorem">

              <div class="card__body card__body--teacher">
                <h3 class="card__title">Rubens Zark</h3>

                <p class="card__description">
                  Especializado em danças de salão, mas com o suave ritmo contemporâneo.
                </p>

                <h4 class="card__sub-title">Especialidades:</h4>
                <p class="card__sub-description">Samba - Jazz - Forró - Zumba</p>
              </div>
            </div>
          </div>
          <div class="card-item">
            <div class="card card--teacher">
              <img src="http://lorempicsum.com/futurama/90/90/6" class="card__avatar card__avatar--teacher" alt="Lorem" title="Lorem">

              <div class="card__body card__body--teacher">
                <h3 class="card__title">Rubens Zark</h3>

                <p class="card__description">
                  Especializado em danças de salão, mas com o suave ritmo contemporâneo.
                </p>

                <h4 class="card__sub-title">Especialidades:</h4>
                <p class="card__sub-description">Samba - Jazz - Forró - Zumba</p>
              </div>
            </div>
          </div>
          <div class="card-item">
            <div class="card card--teacher">
              <img src="http://lorempicsum.com/futurama/90/90/6" class="card__avatar card__avatar--teacher" alt="Lorem" title="Lorem">

              <div class="card__body card__body--teacher">
                <h3 class="card__title">Rubens Zark</h3>

                <p class="card__description">
                  Especializado em danças de salão, mas com o suave ritmo contemporâneo.
                </p>

                <h4 class="card__sub-title">Especialidades:</h4>
                <p class="card__sub-description">Samba - Jazz - Forró - Zumba</p>
              </div>
            </div>
          </div>
          <div class="card-item">
            <div class="card card--teacher">
              <img src="http://lorempicsum.com/futurama/90/90/6" class="card__avatar card__avatar--teacher" alt="Lorem" title="Lorem">

              <div class="card__body card__body--teacher">
                <h3 class="card__title">Rubens Zark</h3>

                <p class="card__description">
                  Especializado em danças de salão, mas com o suave ritmo contemporâneo.
                </p>

                <h4 class="card__sub-title">Especialidades:</h4>
                <p class="card__sub-description">Samba - Jazz - Forró - Zumba</p>
              </div>
            </div>
          </div>
          <div class="card-item">
            <div class="card card--teacher">
              <img src="http://lorempicsum.com/futurama/90/90/6" class="card__avatar card__avatar--teacher" alt="Lorem" title="Lorem">

              <div class="card__body card__body--teacher">
                <h3 class="card__title">Rubens Zark</h3>

                <p class="card__description">
                  Especializado em danças de salão, mas com o suave ritmo contemporâneo.
                </p>

                <h4 class="card__sub-title">Especialidades:</h4>
                <p class="card__sub-description">Samba - Jazz - Forró - Zumba</p>
              </div>
            </div>
          </div>
          <div class="card-item">
            <div class="card card--teacher">
              <img src="http://lorempicsum.com/futurama/90/90/6" class="card__avatar card__avatar--teacher" alt="Lorem" title="Lorem">

              <div class="card__body card__body--teacher">
                <h3 class="card__title">Rubens Zark</h3>

                <p class="card__description">
                  Especializado em danças de salão, mas com o suave ritmo contemporâneo.
                </p>

                <h4 class="card__sub-title">Especialidades:</h4>
                <p class="card__sub-description">Samba - Jazz - Forró - Zumba</p>
              </div>
            </div>
          </div>
          <div class="card-item">
            <div class="card card--teacher">
              <img src="http://lorempicsum.com/futurama/90/90/6" class="card__avatar card__avatar--teacher" alt="Lorem" title="Lorem">

              <div class="card__body card__body--teacher">
                <h3 class="card__title">Rubens Zark</h3>

                <p class="card__description">
                  Especializado em danças de salão, mas com o suave ritmo contemporâneo.
                </p>

                <h4 class="card__sub-title">Especialidades:</h4>
                <p class="card__sub-description">Samba - Jazz - Forró - Zumba</p>
              </div>
            </div>
          </div>
          <div class="card-item">
            <div class="card card--teacher">
              <img src="http://lorempicsum.com/futurama/90/90/6" class="card__avatar card__avatar--teacher" alt="Lorem" title="Lorem">

              <div class="card__body card__body--teacher">
                <h3 class="card__title">Rubens Zark</h3>

                <p class="card__description">
                  Especializado em danças de salão, mas com o suave ritmo contemporâneo.
                </p>

                <h4 class="card__sub-title">Especialidades:</h4>
                <p class="card__sub-description">Samba - Jazz - Forró - Zumba</p>
              </div>
            </div>
          </div>
          <div class="card-item">
            <div class="card card--teacher">
              <img src="http://lorempicsum.com/futurama/90/90/6" class="card__avatar card__avatar--teacher" alt="Lorem" title="Lorem">

              <div class="card__body card__body--teacher">
                <h3 class="card__title">Rubens Zark</h3>

                <p class="card__description">
                  Especializado em danças de salão, mas com o suave ritmo contemporâneo.
                </p>

                <h4 class="card__sub-title">Especialidades:</h4>
                <p class="card__sub-description">Samba - Jazz - Forró - Zumba</p>
              </div>
            </div>
          </div>
          <div class="card-item">
            <div class="card card--teacher">
              <img src="http://lorempicsum.com/futurama/90/90/6" class="card__avatar card__avatar--teacher" alt="Lorem" title="Lorem">

              <div class="card__body card__body--teacher">
                <h3 class="card__title">Rubens Zark</h3>

                <p class="card__description">
                  Especializado em danças de salão, mas com o suave ritmo contemporâneo.
                </p>

                <h4 class="card__sub-title">Especialidades:</h4>
                <p class="card__sub-description">Samba - Jazz - Forró - Zumba</p>
              </div>
            </div>
          </div>
          <div class="card-item">
            <div class="card card--teacher">
              <img src="http://lorempicsum.com/futurama/90/90/6" class="card__avatar card__avatar--teacher" alt="Lorem" title="Lorem">

              <div class="card__body card__body--teacher">
                <h3 class="card__title">Rubens Zark</h3>

                <p class="card__description">
                  Especializado em danças de salão, mas com o suave ritmo contemporâneo.
                </p>

                <h4 class="card__sub-title">Especialidades:</h4>
                <p class="card__sub-description">Samba - Jazz - Forró - Zumba</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <ul class="pagination">
      <li class="pagination__item pagination__item--active">
        <a href="" class="pagination__link">1</a>
      </li>
      <li class="pagination__item">
        <a href="" class="pagination__link">2</a>
      </li>
      <li class="pagination__item">
        <a href="" class="pagination__link">3</a>
      </li>
      <li class="pagination__item">
        <a href="" class="pagination__link">4</a>
      </li>
    </ul>
  </section>

  <footer class="footer"></footer>
</body>
</html>
