.button
  background-color: get-color(gafieira)
  border: 2px solid get-color(gafieira)
  border-radius: 4px
  box-shadow: 0 4px 8px 0 get-color((color: dark, opacity: .1))
  color: get-color(air)
  display: block
  font-family: font-family()
  font-size: 14px
  padding: 12px
  text-align: center
  text-decoration: none
  text-transform: uppercase

  &--white
    background-color: get-color(air)
    border-color: get-color(rock, lighter)
    color: get-color(gafieira)

  &--fluid
    width: 100%

  &--no-shadow
    box-shadow: none

  &:hover
    cursor: pointer
