.call-to-action
  background-color: get-color(raiz)
  padding: 30px
  text-align: center
  width: 100%

  &__title
    color: get-color(air)
    display: block
    font-size: 18px
    font-weight: 300
    margin: 0

    strong
      font-size: inherit
      font-weight: 700

  .button
    margin-top: 20px

    &:first-child
      margin-top: 0

  +media($breakpoint-medium)
    &__title
      display: inline-block
      font-size: 24px
      margin: 0 15px 0 0

  +media($breakpoint-normal)
    .button
      display: inline-block
      margin: 0 15px
      max-width: 360px
