.card
  background-color: get-color(air)
  border-radius: 4px
  box-shadow: 0 1px 2px 0 get-color((color: dark, opacity: .1))
  position: relative
  transition: box-shadow .2s ease-in-out
  width: 100%

  &--school-big
    margin-top: 45px
    padding-top: 0
    text-align: center

  &--teacher
    margin-top: 40px
    padding-top: 0
    text-align: center

  &--list
    float: right
    margin-top: 20px
    width: calc(100% - 35px)

  &--with-content
    padding: 30px

  &:hover
    box-shadow: 0 4px 8px 0 get-color((color: dark, opacity: .1))

  +grid-media($breakpoint-medium)
    &--school
      text-align: center

    &--teacher
      float: none
      margin-top: calc(35px + 20px)
      padding-left: 0
      width: 100%

    &--with-content
      padding: 50px

  +grid-media($breakpoint-normal)
    margin-bottom: 0
