.divider
  position: relative
  width: 100%
  z-index: 1

  &__image,
  &__title
    display: block
    margin: 0 auto

  &__title
    display: block
    width: max-content
    background-color: get-color(rumba)
    padding-left: 45px
    padding-right: 45px

  &::before
    background-color: get-color((color: rock, opacity: .1))
    content: ''
    height: 2px
    left: 0
    position: absolute
    top: calc(50% - 1px)
    width: 100%
    z-index: -1
