::-ms-input-placeholder
  color: get-color((color: dark, opacity: .4))
  font-family: font_family()
  font-style: italic

::-webkit-input-placeholder
  color: get-color((color: dark, opacity: .4))
  font-family: font_family()
  font-style: italic

::-moz-placeholder
  color: get-color((color: dark, opacity: .4))
  font-family: font_family()
  font-style: italic

.form
  &__input
    background-color: get-color(air)
    border: 1px solid get-color((color: dark, opacity: .1))
    border-radius: 4px
    box-shadow: inset 0 1px 3px 0 get-color((color: dark, opacity: .2))
    font-family: font-family()
    font-size: 14px
    line-height: 14px
    padding: 13px 10px

    &--fluid
      width: 100%

    &--flush
      background-image: linear-gradient(to bottom, get-color(air) 5%, get-color(air) 49%, get-color((color: dark, opacity: 0.05)) 99%)

  &__label
    color: get-color((color: dark, opacity: .6))
    display: block
    font-size: 14px
    font-weight: 700
    width: 100%

    &--for-checkbox
      color: get-color((color: dark, opacity: .4))
      display: inline-block
      font-size: 14px
      font-weight: 300
      padding: 4px 0 4px 34px
      position: relative

      &::before
        background-color: get-color(air)
        border: solid 1px get-color((color: dark, opacity: .1))
        border-radius: 4px
        box-shadow: inset 0 1px 3px 0 get-color((color: dark, opacity: .2))
        color: get-color(air)
        content: ''
        display: block
        font-size: 14px
        height: 22px
        left: 0
        line-height: 22px
        position: absolute
        text-align: center
        top: 0
        width: 22px

  &__checkbox
    display: none
    opacity: 0
    visibility: hidden

    &:checked + .form__label::before
      background-color: get-color(gafieira)
      box-shadow: none
      content: '\25CF'

  &__link
    display: block
    font-size: 12px
    font-weight: 700
    text-align: center
    text-transform: uppercase
