.menu
  &__header
    align-items: center
    display: flex
    padding: 30px

  &__avatar
    border-radius: 100%
    display: inline-block
    margin-right: 15px

  &__info
    //

  &__user
    font-size: 12px
    font-weight: 700
    color: get-color((color: dark, opacity: .6))
    text-transform: uppercase

  &__logout
    display: block
    font-size: 12px
    font-weight: 700
    text-transform: uppercase

  &__cluster

  &__icon
    display: inline-block
    padding: 0 30px
    width: 20px

  &__body
    display: inline-block
    width: calc(100% - 80px)

  &__title

  &__option
