.menu-button
  border-bottom: 5px solid transparent
  color: get-color(smoke)
  display: block
  font-size: 14px
  font-weight: 700
  line-height: calc(80px - 5px)
  padding: 0 36px
  text-decoration: none
  text-transform: uppercase

  &--active
    border-color: get-color(ocean)
    color: get-color(ocean)

  &:hover
    cursor: pointer
