.page-header
  align-items: center
  background-color: get-color(rumba)
  background-position: center
  background-size: cover
  display: flex
  overflow: hidden
  width: 100%

  &__content
    +grid-column(6)
    padding: 50px 0 0

  &__call
    +grid-column(6)
    padding: 50px 0 0

  &__title
    color: get-color(gafieira)
    font-family: font-family()
    font-size: 24px
    font-weight: 700
    line-height: 31px
    width: 100%

    small
      color: get-color(rock)
      display: block
      font-family: font-family()
      font-size: 20px
      font-weight: 100
      margin-top: 5px

  &--home
    .page-header__content
      text-align: center
      margin: 0
      width: 100%

    .page-header__title
      line-height: normal


  +media($breakpoint-medium)
    &--home
      background-color: get-color(rock)
      height: 400px
      margin-top: 0

      .page-header__content
        padding: 0

      .page-header__title
        color: get-color(air)
        font-size: 64px

        small
          color: get-color((color: air, opacity: .8))
          font-size: 48px
          margin-top: 15px

  +media($breakpoint-normal)
    &__title
      font-size: 48px

    &__content
      +grid-column(4)
      +grid-push(4)
      text-align: center

    &__call
      +grid-column(4)
