.searchbar
  align-items: center
  background-color: get-color(air)
  display: flex
  height: 50px
  position: absolute
  right: 36px
  transition: width .2s ease-in-out
  width: 18px
  z-index: $searchbar-z

  &__icon
    margin-right: 10px

  &__button
    display: none
    visibility: hidden

  &__form
    width: 100%

  &__input
    opacity: 0
    transition: opacity .2s .2s ease-in-out
    visibility: hidden
    width: calc(100% - 28px)

    &:focus, &:active
      outline: none

  &--active
    top: 0
    width: calc(100% - 36px)

    .searchbar__input
      opacity: 1
      visibility: visible

  +grid-media($breakpoint-normal)
    border: 1px solid get-color(rock, lighter)
    border-radius: 4px
    height: 42px
    overflow: hidden
    padding: 0
    right: 140px
    top: 18px;
    width: 110px

    &:hover
      background-color: get-color(air, darker)
      cursor: pointer

    &__icon
      margin-left: 12px

    &__button
      color: get-color(gafieira)
      display: flex
      font-size: 14px
      text-transform: uppercase
      visibility: visible

    &--active
      width: calc(100% - 310px)

      &:hover
        background-color: get-color(air)
        cursor: default

      .searchbar__button
        display: none
        visibility: hidden

      .searchbar__input
        opacity: 1
        visibility: visible
