.container
  +grid-container
  margin: 0 auto
  max-width: 420px
  padding: 0 24px
  width: 100%

  @media screen and (min-width: $breakpoint-medium)
    max-width: $breakpoint-medium

  @media screen and (min-width: $breakpoint-normal)
    max-width: $breakpoint-normal

  @media screen and (min-width: $breakpoint-large)
    max-width: $breakpoint-large
