.card
  &__avatar
    border: 5px solid get-color(air)
    border-radius: 50%

    &--teacher
      margin: -45px auto 10px

    &--teacher-mobile
      left: -45px
      position: absolute
      top: 15px
