.card
  &__avatar
    height: 70px
    width: 70px

    &--school
      border-radius: 4px
      box-shadow: 0 1px 2px 0 get-color((color: dark, opacity: .1))
      height: 45px
      margin-left: 20px
      margin-top: -30px
      width: 45px

    &--teacher
      border: 5px solid get-color(air)
      border-radius: 50%
      left: -35px
      position: absolute
      top: 15px

    +media($breakpoint-medium)
      &--school
        height: 65px
        margin-left: 0
        width: 65px

      &--teacher
        height: 90px
        left: initial
        margin: -45px auto 0
        position: relative
        top: initial
        width: 90px
