.card
  &__avatar
    border: 5px solid get-color(air)
    border-radius: 50%
    height: 90px
    width: 90px

    &--teacher
      margin: -45px auto 0

    &--teacher-mobile
      left: -45px
      position: absolute
      top: 15px
