.card
  &__body
    padding: 20px

    &--school
      padding: 10px 20px 20px

    &--teacher
      padding: 10px 20px 20px

    &--list
      padding-left: (35px + 10px)
      padding-top: 20px

    +media($breakpoint-medium)
      &--teacher
        padding-left: 20px
