.card
  &__title
    color: get-color(rock)
    font-size: 14px
    font-weight: 700
    margin: 0
    text-align: left

    small
      color: get-color(rock)
      display: block
      font-family: font-size()
      font-size: 16px
      text-align: center

    &--big
      font-size: 24px

    &--center
      text-align: center

    &--list
      text-align: left

    +grid-media($breakpoint-medium)
      font-size: 18px

      &--big
        font-size: 24px

      &--list
        text-align: center

  &__description
    color: get-color((color: rock, opacity: .8))
    font-size: 12px
    margin-bottom: 0
    text-align: left

    strong
      color: get-color(gafieira)
      display: block
      font-size: 18px
      font-weight: bold
      margin-bottom: 4px

    +grid-media($breakpoint-medium)
      font-size: 14px

    &--big
      font-size: 18px

  &__sub-title
    color: get-color((color: rock, opacity: .6))
    font-size: 12px
    font-style: italic
    margin: 10px 0 0
    text-align: left

    +grid-media($breakpoint-medium)
      font-size: 14px

  &__sub-description
    color: get-color((color: rock, opacity: .7))
    font-size: 12px
    font-weight: 700
    margin: 5px 0 0
    text-align: left

    span
      font-weight: 700

      &::after
        content: ' - '

      &:last-child
        &::after
          content: ''

    +grid-media($breakpoint-medium)
      font-size: 14px

  &__additional-info
    color: get-color((color: dark, opacity: .4))
    display: inline-block
    font-size: 11px
    margin: 0
    text-align: left
    width: 100%

    +grid-media($breakpoint-medium)
      font-size: 14px

  &__content
    display: flex
    justify-content: space-between

  &__icon
    display: inline-block
    padding-right: 15px

  &__likes
    display: flex

    span
      color: get-color((color: rock, opacity: .6))
      font-size: 12px
      height: 10px
      line-height: 10px
      margin-left: 5px
      margin-top: 7px

    &--featured
      position: absolute
      right: 20px
      top: 20px
