[data-module="subscriptions.plans"]
  .grid
    &--plan
      +grid-column(12)
      margin-top: 30px

      &:first-child
        margin-top: 0

    &--plan-unity
      +grid-column(12)

  +grid-media($breakpoint-normal)
    .grid
      &--plan-unity
        +grid-column(4)
        +grid-push(4)

      &--plan
        +grid-column(4)
        margin-top: 0
